attrs==18.2.0
dj-database-url==0.5.0
Django==2.1.7
django-jalali==3.1.0
django-pwa==1.0.5
docopt==0.6.2
gunicorn==19.9.0
jdatetime==3.2.0
mysqlclient==1.4.2.post1
packbits==0.6
Pillow==5.4.1
psd-tools==1.8.9
psycopg2-binary==2.7.7
pymaging-psd==0.7
pytz==2018.9
qrcode==6.1
six==1.12.0
whitenoise==4.1.2
