{% extends "partials/layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    {% load has_group %}
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height  ">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img src="{{ user.profile_photo }}" alt="">
                            </div>
                        </div>
                        <div class="m-card-profile__details">
                            <span class="m-card-profile__name">{{ user.first_name }} {{ user.last_name }}</span>
                            <a href="mailto:{{ user.email }}" class="m-card-profile__email m-link">{{ user.email }}</a>
                            <a href="tel:{{ user.phone_number }}"
                               class="m-card-profile__email m-link">{{ user.phone_number }}</a>
                        </div>
                    </div>
                    <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                        <li class="m-nav__separator m-nav__separator--fit"></li>
                        <li class="m-nav__section m--hide">
                            <span class="m-nav__section-text">Section</span>
                        </li>
                        <li class="m-nav__item">
                            <a href="../header/profile&amp;demo=default.html" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                <span class="m-nav__link-title">
                                    <span class="m-nav__link-wrap">
                                        <span class="m-nav__link-text">پروفایل من</span>

                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="m-portlet__body-separator"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                            role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                                   role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    اصلاح پروفایل
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2"
                                   role="tab">
                                    نمونه کارها
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form id="profile_form" class="m-form m-form--fit m-form--label-align-right"
                              action="/update-profile/"
                              method="post">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">
                                        The example form below demonstrates common HTML form elements that receive
                                        updated styles from Bootstrap with additional classes.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group m-form__group row">
                                            <div class="col-10 ml-auto">
                                                <h3 class="m-form__section"> اطلاعات شخصی</h3>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-3 col-form-label">نام</label>
                                            <div class="col-7">
                                                <input name="first_name" class="form-control m-input" type="text"
                                                       value="{{ request.user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-3 col-form-label">نام
                                                خانوادگی</label>
                                            <div class="col-7">
                                                <input name="last_name" class="form-control m-input" type="text"
                                                       value="{{ request.user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-3 col-form-label">ایمیل</label>
                                            <div class="col-7">
                                                <input name="email" class="form-control m-input" type="text"
                                                       value="{{ request.user.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-3 col-form-label">شماره
                                                موبایل</label>
                                            <div class="col-7">
                                                <input name="phone_number" class="form-control m-input" type="text"
                                                       value="{{ request.user.phone_number }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        {% if request.user|has_group:'customer' %}
                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">QR Code</h3>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">کد</label>
                                                <div class="col-6">
                                                    <img src="{{ qr_code }}"
                                                         alt="{{ request.user.first_name }} {{ request.user.last_name }}"/>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group m-form__group row">
                                            <div class="col-10 ml-auto">
                                                <h3 class="m-form__section"> آدرس</h3>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">آدرس</label>
                                            <div class="col-7">
                                                <textarea name="address" class="form-control m-input" style="width: 100%">{{ request.user.contact.address1 }}
                                                </textarea>

                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">شهر</label>
                                            <div class="col-7">
                                                <input name="city" class="form-control m-input" type="text" value="{{ request.user.contact.city }}">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">استان</label>
                                            <div class="col-7">
                                                <input name="state" class="form-control m-input" type="text" value="{{ request.user.contact.state }}">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input"
                                                   class="col-2 col-form-label">کد پستی</label>
                                            <div class="col-7">
                                                <input name="postal_code" class="form-control m-input" type="text"
                                                       value="{{ request.user.contact.postal_code }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        {% if request.user|has_group:'stylist' or request.user|has_group:'accountant' or request.user|has_group:'manager' %}
                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section"> اطلاعات بانکی</h3>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input"
                                                       class="col-2 col-form-label">شماره کارت</label>
                                                <div class="col-7">
                                                    <input name="card_number" class="form-control m-input" type="text"
                                                           value="{{ request.user.bankinfo.card_number }}">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input"
                                                       class="col-2 col-form-label">شماره حساب</label>
                                                <div class="col-7">
                                                    <input name="account_number" class="form-control m-input"
                                                           type="text"
                                                           value="{{ request.user.bankinfo.account_number }}">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">شماره
                                                    شبا</label>
                                                <div class="col-7">
                                                    <input name="shaba_number" class="form-control m-input" type="text"
                                                           value="{{ request.user.bankinfo.shaba_number }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            {% csrf_token %}
                                            <input name="next" type="text" value="/view-profile/" hidden/>
                                            <input name="username" type="text" value="{{ request.user.username }}"
                                                   hidden/>
                                            <input name="password" type="password" hidden/>
                                            <button type="button" class="btn btn-success" data-toggle="modal"
                                                    data-target="#m_modal_5">ذخیره تغییرات
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-secondary m-btn m-btn--air m-btn--custom">لغو تغییرات
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_2">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تایید رمز عبور</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modal_form">
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">رمز عبور</label>
                            <input name="p" type="password" class="form-control" id="recipient-name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="checkPass(this)">ذخیره</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript">
        function checkPass(e) {
            let p = $("#modal_form").find('input[name="p"]').val()
            $('body').find('input[name="password"]').val(p)
            $('#profile_form').submit()
        }
    </script>

{% endblock %}