{% extends "partials/layout.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">

            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                جستجو فاکتور مشتری
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <div class="m-portlet__body">
                        <div class="col-lg-6">
                            <div class="form-group m-form__group">
                                <label>شماره موبایل</label>
                                <div class="input-group">
                                    <input id="phone" name="phone_number" type="text" class="form-control"
                                        placeholder="شماره همراه">
                                    <div class="input-group-prepend">
                                        <button id="scan" class="btn btn-secondary" type="button" data-toggle="modal"
                                            data-target="#m_modal_4">
                                            <i class="la la-qrcode "></i>
                                            اسکن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="reset" class="btn btn-brand">جستجو</button>
                                    <button type="reset" class="btn btn-secondary">پاک کردن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                لیست فاکتور ها
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="row">
                    <div class="col-lg-12">
                            <div class="m-portlet__body">
                                <table
                                    class="dt table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline table-responsive-sm table-responsive-md"
                                    role="grid" aria-describedby="m_table_1_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="dt-right sorting_disabled" rowspan="1" colspan="1">
                                                <a href="#"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                    title="View">
                                                    <i class="la la-edit"></i>
                                                </a>
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="m_table_1" rowspan="1"
                                                colspan="1"  aria-sort="descending"
                                                aria-label="Order ID: activate to sort column ascending">شماره فاکتور</th>
                                            <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1"
                                                colspan="1" 
                                                aria-label="Created Date: activate to sort column ascending">زمان ایجاد فاکتور</th>
                                            <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1"
                                                colspan="1" 
                                                aria-label="Final Amount: activate to sort column ascending">مبلغ نهایی</th>
                                            <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1"
                                                colspan="1" 
                                                aria-label="Paid Amount: activate to sort column ascending">مبلغ پرداخت شده</th>
                                            <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1"
                                                colspan="1" 
                                                aria-label="Status: activate to sort column ascending">وضعیت فاکتور
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for factor in factors %}
                                        <tr>
                                            <td>
                                                <a href="/update-factor/?code={{factor.code}}"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                    title="View">
                                                    <i class="la la-edit"></i>
                                                </a>
                                            </td>
                                            <td>{{factor.code}}</td>
                                            <td>{{factor.created_date}}</td>
                                            <td>{{factor.final_amount}}</td>
                                            <td>{{factor.paid_amount}}</td>
                                            <td>{{factor.status}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>  
                    </div>
                </div>



                <!--end::Form-->
            </div>

            <!--end::Portlet-->
        </div>
    </div>
</div>

    <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اسکن QR</h5>
                    <button id="modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>اسکن از دوربین</h3>
                    <div>
                        <b>دستگاه دوربین دارد: </b>
                        <span id="cam-has-camera"></span>
                        <br>
                        <video muted playsinline id="qr-video" width="100%"></video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close_btn" type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% load static %}
<script src="{% static 'ticket/js/datatables.bundle.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('table').each(function (index, value) {
            $(this).DataTable()
        })
    });
</script>
    <script type="module">
        {% load static %}
        import QrScanner from "{%  static 'ticket/js/qr/qr-scanner.min.js' %}";
        QrScanner.WORKER_PATH = '{%  static 'ticket/js/qr/qr-scanner-worker.min.js' %}';

        const video = document.getElementById('qr-video');
        const camHasCamera = document.getElementById('cam-has-camera');

        function setResult(result) {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                method: 'POST',
                url: "/get-user-data/",
                data: {qr: result},
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            }).done(function (data) {
                $('body').find("input[name='first_name']").val(data.first_name);
                $('body').find("input[name*='last_name']").val(data.last_name);
                $('body').find("input[name*='username']").val(data.username);
                $("#user_lock").prop("hidden", false);
                $("#sub").prop("disabled", false);
                $("#close_btn").submit()
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("مشتری مورد نظر یافت نشد");
                $('body').find("input[name='first_name']").val('');
                $('body').find("input[name*='last_name']").val('');
                $('body').find("input[name*='username']").val('');
                $("#user_lock").prop("hidden", true);
                $("#sub").prop("disabled", true);
            });
        }

        // ####### Web Cam Scanning #######

        QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
        const scanner = new QrScanner(video, result => setResult(result));

        $("#scan").on('click', function (event) {
            scanner.start();
            video.play();
        });

        $("#modal_close").on('click', function (event){
            scanner.stop();
            video.pause();
        });
    </script>
{% endblock %}