<!DOCTYPE html>
<html lang="en">
{% load pwa %}

<!-- begin::Head -->

<head>
    {% progressive_web_app_meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Smart Beauty Salons is an web application for automating beauty salons systems">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Web font -->

    <!--begin::Global Theme Styles -->
    {% load static %}
    <link href="{% static 'ticket/css/vendors.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>

    {% load static %}
    <link href="{% static 'ticket/css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>

    <!--end::Global Theme Styles -->

    <!--begin::Page Vendors Styles -->
    {% load static %}
    <link href="{% static 'ticket/css/fullcalendar.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
    {% load static %}
    <link href="{% static 'ticket/css/datatables.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>

    <!--end::Page Vendors Styles -->
</head>

<!-- end::Head -->

<!-- begin::Body -->

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">


<div id="preload" style="z-index: 1000; width: 100%; min-height: 800px; position: absolute; background-color: #f0f0f0; opacity: 0.6; text-align: center"  >
    <div class="m-spinner m-spinner--primary m-spinner--lg" style="align-content: center ;width: 6rem;height: 6rem; margin-top: 20%"></div>
</div>
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header -->
    <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">

                <!-- BEGIN: Brand -->
                <div class="m-stack__item m-brand  m-brand--skin-dark ">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a href="/" class="m-brand__logo-wrapper">
                                <img alt="لوگو" src="{{ request.user.salon.logo }}" width="64px"/>
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">

                            <!-- BEGIN: Left Aside Minimize Toggle -->
                            <a href="javascript:;" id="m_aside_left_minimize_toggle"
                               class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
                                <span></span>
                            </a>

                            <!-- END -->

                            <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                            <a href="javascript:;" id="m_aside_left_offcanvas_toggle"
                               class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>

                            <!-- END -->

                            <!-- BEGIN: Topbar Toggler -->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>

                            <!-- BEGIN: Topbar Toggler -->
                        </div>
                    </div>
                </div>

                <!-- END: Brand -->
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                    <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar"
                         class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                    m-dropdown-toggle="click">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
											<span class="m-topbar__userpic">
												<img src="{{ user.profile_photo }}"
                                                     class="m--img-rounded m--marginless" alt="پروفایل"/>
											</span>
                                        <span class="m-topbar__username m--hide">{{ user.first_name }} {{ user.last_name }}</span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
											<span
                                                    class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            {% load static %}
                                            <div class="m-dropdown__header m--align-center"
                                                 style="background: url({% static  'ticket/images/misc/user_profile_bg.jpg' %}); background-size: cover;">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        <img src="{{ request.user.profile_photo }}"
                                                             class="m--img-rounded m--marginless" alt=""/>

                                                        <!--
                    <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
                    -->
                                                    </div>
                                                    <div class="m-card-user__details">
                                                        <span class="m-card-user__name m--font-weight-500">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                                                        <a href=""
                                                           class="m-card-user__email m--font-weight-300 m-link">{{ request.user.email }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li class="m-nav__section m--hide">
                                                            <span class="m-nav__section-text">بخش</span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="/view-profile/" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                <span class="m-nav__link-title">
																		<span class="m-nav__link-wrap">
																			<span class="m-nav__link-text">پروفایل من</span>
																			<span class="m-nav__link-badge"><span
                                                                                    class="m-badge m-badge--success"></span></span>
																		</span>
																	</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit">
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="/logout"
                                                               class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">خروج</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- END: Topbar -->
                </div>
            </div>
        </div>
    </header>

    <!-- END: Header -->

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                class="la la-close"></i></button>
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

            <!-- BEGIN: Aside Menu -->
            <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
                 m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
                <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                    <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                        <a href="/"
                           class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-line-graph"></i>
                            <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">داشبورد</span>

										<span class="m-menu__link-badge">
                                            <span class="m-badge m-badge--danger">1</span>
                                        </span>
                                    </span>
                                </span>
                        </a>
                    </li>
                    {% load has_group %}

                    {% if request.user.is_superuser %}
                        <li class="m-menu__section ">
                            <h4 class="m-menu__section-text">ادمین</h4>
                            <i class="m-menu__section-icon flaticon-more-v2"></i>
                        </li>
                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon la la-money"></i>
                                <span class="m-menu__link-text">سالن</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu " style="" m-hidden-height="80"><span
                                    class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span class="m-menu__link-text">سالن</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/add-salon/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">اضافه کردن سالن</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/view-salon/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">لیست سالن ها</span></a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    {% if request.user|has_group:"manager" %}
                        <li class="m-menu__section ">
                            <h4 class="m-menu__section-text">سالن دار</h4>
                            <i class="m-menu__section-icon flaticon-more-v2"></i>
                        </li>

                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-users"></i>
                                <span class="m-menu__link-text">کاربر و پرسنل</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu " style="" m-hidden-height="80"><span
                                    class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span
                                            class="m-menu__link-text">کاربر و پرسنل</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/add-user/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">اضافه کردن کاربر و پرسنل</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/view-customer/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">لیست مشتری ها</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/view-employ/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">لیست پرسنل</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-users"></i>
                                <span class="m-menu__link-text">خدمات</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu " style="" m-hidden-height="80"><span
                                    class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span class="m-menu__link-text">خدمات</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/add-service/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">اضافه کردن خدمات سالن</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/add-service-stylist/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">تعریف خدمات آرایشگر</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/view-service/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">لیست خدمات سالن</span></a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    {% if request.user|has_group:"stylist" %}
                        <li class="m-menu__section ">
                            <h4 class="m-menu__section-text">آرایشگر</h4>
                            <i class="m-menu__section-icon flaticon-more-v2"></i>
                        </li>
                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-list-2"></i>
                                <span class="m-menu__link-text">فاکتور</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu " style="" m-hidden-height="80"><span
                                    class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span class="m-menu__link-text">فاکتور</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/add-sub-factor/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">فاکتور جدید</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/view-factor/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">لیست فاکتور</span></a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    {% if request.user|has_group:"accountant" %}
                        <li class="m-menu__section ">
                            <h4 class="m-menu__section-text">حسابداری</h4>
                            <i class="m-menu__section-icon flaticon-more-v2"></i>
                        </li>
                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon la la-money"></i>
                                <span class="m-menu__link-text">فاکتور</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu " style="" m-hidden-height="80"><span
                                    class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span class="m-menu__link-text">فاکتور</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="/view-factor/"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">لیست فاکتورها</span></a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}


                </ul>
            </div>

            <!-- END: Aside Menu -->
        </div>

        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">{{ title }}</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="/" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            {% for breadcrumb in breadcrumbs %}
                                <li class="m-nav__separator">-</li>
                                <li class="m-nav__item">
                                    <a href="{{ breadcrumb.href }}" class="m-nav__link">
                                        <span class="m-nav__link-text">{{ breadcrumb.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- END: Subheader -->
            <div class="m-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- end:: Body -->

    <!-- begin::Footer -->
    <footer class="m-grid__item		m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
						<span class="m-footer__copyright">
							Ticket App 19 by <a target="_blank" href="https://amirnazari.me"
                                                class="m-link">Amir Nazari</a> &copy; 2019
						</span>
                </div>
                <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                    <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                        <li class="m-nav__item">
                            <a href="https://amirnazari.me/#about-me" class="m-nav__link">
                                <span class="m-nav__link-text">درباره ما</span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="#" class="m-nav__link">
                                <span class="m-nav__link-text">حریم شخصی</span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="#" class="m-nav__link">
                                <span class="m-nav__link-text">خرید برنامه</span>
                            </a>
                        </li>
                        <li class="m-nav__item m-nav__item">
                            <a href="https://amirnazari.me/#contact" class="m-nav__link" data-toggle="m-tooltip" title="پشتیبانی"
                               data-placement="left">
                                <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- end::Footer -->
</div>

<!-- end:: Page -->

<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
    <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->

<!--begin::Global Theme Bundle -->
{% load static %}
<script src="{% static 'ticket/js/vendors.bundle.js' %}" type="text/javascript"></script>
{% load static %}
<script src="{% static 'ticket/js/scripts.bundle.js' %}" type="text/javascript"></script>

<!--end::Global Theme Bundle -->

<!--begin::Page Vendors -->
{% load static %}
<script src="{% static 'ticket/js/fullcalendar.bundle.js' %}" type="text/javascript"></script>

<!--end::Page Vendors -->

<!--begin::Page Scripts -->
{% load static %}
<script src="{% static 'ticket/js/dashboard.js' %}" type="text/javascript"></script>
{% load static %}
<script src="{% static 'ticket/js/form-repeater.js' %}" type="text/javascript"></script>
{% load static %}
<script src="{% static 'ticket/js/select2.js' %}" type="text/javascript"></script>
<!--end::Page Scripts -->

<script>
    $(document).ready(function () {
        $('.select').select2();
        $('a.back').click(function () {
            parent.history.back();
            return false;
        });
        $("#preload").prop("hidden", true);
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% block footer %}
{% endblock %}
</body>

<!-- end::Body -->

</html>